body{
margin: 0;
padding: 0;
background-image: linear-gradient(135deg, #438fc2,#505488, #2F3F80, #161569, #5A4894, 
#A950A1, #FF7CAE);
background-size: 500%;
font-size: 14px;
line-height: 1.4em;
color: rgb(27, 53, 54);
font-family: sans-serif;
--color1:#ECECEC;
--color2: #187EBC;
--color3:#a8a8a8;


}
/*imagenes*/
img{
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}
.img-p{
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 3px  groove rgb(113, 99, 240);
    border-radius: 50px;
    box-shadow: 12px 25px 30px 1px rgba(156, 140, 170, 0.698);
}

a{
    text-decoration: none;
    color: inherit;
}
.cuadros{
    height: 25em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}
/*--------*/


/*Grilla*/
.section{
   clear: both;
   padding: 0;
   margin: 0;
}

.col{
    display: block;
   float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child{
    margin-left: 0;
}
.span_2{
    width: 66.1%;
}
.span_1{
    width: 32.2%;
}
.galeria{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 12px;
    margin-bottom: 30px;
}
.galeria > div{
    padding: 7px;
    text-align: justify;
}
.galeria .item1{
    grid-column: 1/4;
}
.galeria .item1{
    display: grid;
    grid-template-columns: auto auto;
}
/*****/
/*Slider*/
.mySlides {
    display: none
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
.active, .dot:hover {
    background-color: #717171;
}
  
  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
  /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}


/****/

/*Encabezado y navegacion*/
header{
    max-width: 100%;
    background-image: linear-gradient(270deg, #263e4e,#505488, #374169, #25245f, #5A4894, 
    #5c435a, #632731);
    padding: 20px;
}
nav{
    max-width: 100%;
    margin-bottom: 1em;
    background: rgb(27, 27, 29);
}
.logo-untels{
    width: 100px;
    display: block;
    margin: auto;
}
ul{
    padding: 0;
    margin: 0;
    color: white;
    font-weight: 300px;
    text-align: center;
    list-style: none;
}
.nav > li{
    display: inline-block;
}

.nav li a{
    background-color: rgb(27, 27, 29);
    color: white;
    text-decoration: none;
    padding: 20px 15px;
    display: block;
    font-size: 20px;
    cursor: pointer;
    text-align: left;
}

.nav li a:hover{
    background-color: #005c7b;
    color: white;
    text-decoration: none;
    padding: 20px 15px;
    display: block;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}

.nav li ul li{
    position: relative;
}

.nav-0{
    display: inline-block;
    padding: 20px;
    font-size: 1.4em;
}
.nav-0:hover{
    background: #005c7b;
    cursor: pointer;
}
.nav-1{
    display: inline-block;
    padding: 20px;
    font-size: 1.4em;
}
.nav-1:hover{
    background: #005c7b;
    cursor: pointer;
}

.menu-paginas a{
    color: #187EBC;
    display: block;
    text-align: left;
    padding: 5px;
}
.menu-paginas a:hover{
    background-color: #187EBC;
    color: white;
}
.pag-select{
    text-decoration: underline;
}


/*publicaciones*/
.container{
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px;
}
.blog-post{
    background: white;
    margin: 0 auto 2em auto;
    padding: 35px 30px;
}
.side-post{
    background: white;
    margin: 0 auto 1.5em auto;
    width: 15em;
    padding: 20px
}
.blog-content{
    font-size: 1em;
    border-left: 5px solid var(--color3);
    padding-left: 15px;
    background-color: var(--color1);
    padding: 10px;
}

.img-blog,iframe{
    text-align: center;
    display: block;
    margin:30px auto 0px auto;
}
.blog-content a{
    text-decoration: underline;
}
.muebles{
    box-shadow: 12px 25px 50px 1px rgba(43, 30, 66, 0.698);
}
.side-content{
    font-size: 1em;
    margin-top: 8px;
    padding-left: 15px;
    border-left: 5px solid rgba(187, 43, 62, 0.877);
    margin-bottom: 0;
}
.foto{
    display: block;
    width: 7em;
    margin-left: auto;
    margin-right: auto;
    border: 5px  dashed rgb(7, 34, 44);
    border-radius: 20px;
}
.foto:hover{
    background: #944009;
    opacity: 10;
    visibility: visible;
}
.name{
    font-size: 15px;
    text-align: center;
    text-shadow: 10px 3px 10px rgb(98, 64, 153);
}
.name:hover{
   color: #632731;
   font-size: 18px;
   text-shadow: 10px 3px 10px rgb(199, 117, 11);
}
/*titulos*/
.blog-tittle{
    font-weight: 500px;
    font-size: 2.5em;
    margin-top: 5px;

}
h1{
    text-align: center;
    line-height: 30px;
}
h2{
    font-size: 2.em;
    font-weight: 450;
    margin-top: 20px;
    text-align: center;
    color: var(--color2);
    border-bottom: 3px solid var(--color2);
    padding-bottom: 5px;
}
h3{
    border-left: 5px solid var(--color2);
    padding-left: 5px;
    font-size: 18px;
    color: #4e4d4d;
    margin-top: 25px;
    margin-bottom: 0;
}
h4{
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 30px;
}
.subt{
    font-size: 2em;
    font-weight: 450;
    margin-top: 30px;
    text-align: left;
    color: #2375a5;
    text-shadow: 10px 3px 10px rgb(116, 103, 238);
}
.date{
    font-size: 1.5em;
    font-weight: 450;
    color: #b81e09;
    margin-top: 25px;
    text-decoration-color: currentColor;
    font-family: sans-serif;
}

/*items*/
.item-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    margin-bottom: 30px;
}
.item-inicio{
    background-color: var(--color1);
    padding: 10px;
    text-align: justify;
    border: black solid 2px;
}
.item-inicio .dato{
    text-align: center;
}
.photo{
    display: block;
    width: 15em;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 5px  double rgb(7, 34, 44);
    border-radius: 20px;
  
}
.photo:hover{
    background: #e6a43b;
    opacity: 10;
    visibility: visible;
}
.nombre{
    font-size: 15px;
    text-align: center;
    text-shadow: 10px 3px 10px rgb(98, 64, 153);
    line-height: 2em;
}
.nombre:hover{
   color: #c46729;
   font-size: 18px;
   text-shadow: 10px 3px 10px rgb(202, 128, 31);
}

/*EQUIPO SCRUM*/
.item-contenedor{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 8px;
    margin-bottom: 30px;
}
.item-init{
    background-color: var(--color1);
    padding: 10px;
    text-align: justify;
    border: black solid 2px;
}

/*boton*/
.buttom{
    display: block;
    padding: 15px 20px;
    margin-top: .8em;
    background: #009acd;
    text-align: center;
    color: white;
    font-size: 1.4em;
    border-radius: 3px;
    transition: all .4s ease-in;
}
.buttom:hover{
    background: #009acd;
}
/*footer*/
footer{
    width: 100%;
    float: right;
    background: #141414;
    color: white;
    display:flex;
    padding: 50px;
    flex: wrap;
    box-sizing: border-box;
}
footer h1{
    margin: 20px auto;
}
footer p{
    margin:auto;
}
/*900px*/
@media screen and (max-width: 56.25em) {
    .col{
        margin: 1% 0 1% 0;
}
.span_2,
.span_1{
    width: 100%;
}
.side-post{
    width: 42%;
    float: left;
    margin: -2% 0 1% 1.6%;
}
}
/*480px*/
@media screen and (max-width: 30em) {
    nav ul{
        max-height: 0;
}
nav ul .nav-1{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
}
}
/*380px*/
@media screen and (max-width: 23.75em) {
   .blog-content{
        font-size: .9em;
}

.side-content{
    font-size: .8em;
}
nav ul .nav-1{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
}
.buttom{
    padding: 10px 15px;
}
.nav-1{
    font-size: 1.2em;
}

.item-container{
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
}
